.Account-Box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid 1px #cdd8dc;
  border-radius: 6px;
  width: 90%;
  max-width: 830px;
  height: auto;
  min-height: 30em;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Account-Box a {
  font-size: 18px;
  color: #888;
}

.Title {
  text-align: center;
  margin: 1.2em;
}
.Title h1 {
  font-weight: bold;
  font-size: calc(36px + 1vw);
  margin: 0;
}
@media screen and (max-width: 300px) {
  .Title {
    margin-top: 2em;
  }
}

.Input-Section {
  min-width: 60%;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Input-Section .form-group label {
  font-size: 20px;
}
.Input-Section .form-group .Input-group {
  position: relative;
}
.Input-Section .form-group .Input-group .bi-person,
.Input-Section .form-group .Input-group .bi-lock {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.Input-Section .form-group .Input-group .Account-Test {
  width: 100%;
  height: 40px;
  border: solid 1px darkgray;
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 6px;
}
.Input-Section .form-group .text-muted {
  font-size: 14px;
}
.Input-Section .Account-Text {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: solid 1px #d4d8db;
  /* #b5d4e9 #f3f7f7*/
  background-color: #ffffff;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  color: #333;
  letter-spacing: 0.5px;
  font-size: 16px;
}
@media (min-width: 576px) {
  .Input-Section .Account-Text {
    min-width: none;
  }
}
@media screen and (max-width: 767px) {
  .Input-Section {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .Input-Section {
    width: 100%;
    padding: 10px;
  }
}

.Help-Section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Submit-Section {
  box-sizing: content-box;
  position: relative;
  bottom: 0px;
  min-height: 100px;
  width: 100%;
  border: solid 1px #dde0e7;
  background: linear-gradient(to bottom, #f4f5f7, #f0f5f8, #eff4f7);
}
.Submit-Section .Submit-Button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  font-weight: 500;
  border-radius: 35px;
  min-width: 80px;
  max-width: 300px;
  width: 50%;
  height: 40px;
  cursor: pointer;
}
.Submit-Section .Submit-Button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}
.HomeLogo {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10vw;
  max-width: 40px;
  min-width: 30px;
}

.ReturnLogo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10vw;
  max-width: 40px;
  min-width: 30px;
}

@media screen and (max-width: 484px) {
  .Register-Select-Box {
    margin-top: 20px;
  }
}

.Register-Select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}
.Register-Select .Select-Box {
  background-color: #f6f6f6;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  box-sizing: border-box;
  border: solid 3px #888888;
}
.Register-Select .Select-Box:hover {
  width: 190px;
  height: 190px;
  margin: 6px;
  border-color: #59d3eb;
  cursor: pointer;
}
.Register-Select a {
  border-radius: 8px;
  text-decoration: none;
}
.Register-Select a img {
  margin-top: 10px;
  width: 50%;
  height: 50%;
}
.Register-Select a p {
  margin-top: 10%;
  margin-bottom: 0;
  font-size: 1.8rem;
  word-break: keep-all;
  color: black;
}

.verification {
  margin-left: 10px;
}

.verification_button {
  border: solid 2px black;
  padding: 5px;
  border-radius: 25px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(to bottom, #f4f5f7, #f0f5f8, #eff4f7);
}
.verification_button:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

@media screen and (max-width: 767px) {
  .CPN-Register-Box {
    margin-top: 50px;
  }
}
@media screen and (max-width: 233px) {
  .CPN-Register-Box {
    margin-top: 80px;
  }
}

.CPN-Register input[type=text],
.CPN-Register input[type=password] {
  margin-left: 0;
}
.CPN-Register .form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.CPN-Register select {
  width: auto;
  min-width: 150px;
}
@media screen and (max-width: 576px) {
  .CPN-Register select {
    width: 100%;
    min-width: none;
  }
}
