@charset "UTF-8";
html,
body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

nav {
  z-index: 2;
}
nav .navbar-brand {
  margin-right: 30px;
}
nav .navbar-nav {
  width: 100%;
}
nav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  text-align: center !important;
}
nav .navbar-nav .navbar-li {
  margin-left: 2px;
  margin-bottom: 5px;
}
nav .navbar-nav .navbar-li a {
  font-size: 1.1rem;
  width: 100%;
  text-decoration: none;
}
@media (max-width: 992px) {
  nav .navbar-nav li:first-child {
    margin-top: 5px;
  }
}

.main {
  flex-grow: 1;
  z-index: 1;
}

.mySwiper {
  position: absolute;
  max-width: 100%;
  height: 100vh;
}
.mySwiper .swiper-slide img {
  opacity: 0.9;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Account-Box {
  margin: 0 auto;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  min-height: 25rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.Account-Box .Title {
  margin: 1.5rem;
}
.Account-Box .Input-Section {
  width: 80%;
}
.Account-Box .Input-Section .form-group {
  margin: 0;
}
.Account-Box .Input-Section .form-group .Account-Text {
  padding: 0px 0px 0px 10px;
  width: 100%;
  border: 0;
  border: solid 3px rgba(0, 0, 0, 0.1);
}
.Account-Box .Input-Section .form-group .Input-group {
  position: relative;
}
.Account-Box .Input-Section .form-group .Input-group input {
  height: 2.5rem;
  outline-color: #1e90ff;
}
.Account-Box .Input-Section .form-group .Input-group .bi {
  margin-top: 2px;
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.Account-Box .Help-Section {
  margin-bottom: 1rem;
}
.Account-Box .Submit-Section {
  width: 80%;
  margin-bottom: 2rem;
}
.Box {
  background-color: white;
  padding: 1rem;
  border: solid 5px #1e90ff;
  border-radius: 0.5rem;
}
.Box h1 {
  text-align: center;
}

.Daywork-Box label {
  margin: 0;
}

.CheckDayworkProject-Box table th {
  word-break: keep-all;
}

.HistoryProject-Box,
.CheckEmp-Box {
  text-align: center;
}
.HistoryProject-Box th,
.CheckEmp-Box th {
  word-break: keep-all;
}
.HistoryProject-Box td,
.CheckEmp-Box td {
  vertical-align: middle !important;
}
@media (max-width: 992px) {
  .HistoryProject-Box th,
  .CheckEmp-Box th {
    display: none;
  }
  .HistoryProject-Box tr td,
  .CheckEmp-Box tr td {
    position: relative;
    display: block;
    text-align: right;
  }
  .HistoryProject-Box tr td::before,
  .CheckEmp-Box tr td::before {
    content: attr(th);
    position: absolute;
    left: 10px;
  }
}

.Project-Box {
  background-color: white;
  padding: 1rem;
  border: solid 5px #1e90ff;
  border-radius: 0.5rem;
}
.Project-Box #Project {
  width: 100% !important;
}
.Project-Box .dataTables_scroll {
  min-width: 300px;
}
.Project-Box table {
  width: 100%;
}
.Project-Box table thead {
  width: 100% !important;
}
.Project-Box table td {
  vertical-align: middle;
}
.Project-Box table form {
  margin: 0;
}
.Project-Box table li {
  display: flex;
  align-items: center;
}
.Project-Box table span {
  white-space: pre-wrap;
}
.Project-Box table .btn {
  width: 75px;
}
.Project-Box table ul {
  width: 100%;
}

.dataTables_wrapper .col-sm-12 {
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_paginate,
  .dataTables_wrapper .dataTables_info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.dataTables_wrapper .dataTables_filter label {
  display: flex;
  justify-content: end;
  align-items: center;
}
.dataTables_wrapper .dataTables_filter label input[type=search] {
  flex-grow: 1;
  min-width: 20px;
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  .dataTables_wrapper .dataTables_filter label {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .dataTables_wrapper {
    overflow: auto;
  }
}

.dtr-title {
  flex-basis: 120px;
  min-width: 120px;
  word-break: keep-all;
  text-align: left;
}
.dtr-title::after {
  content: "：";
}

.dtr-data {
  text-align: left;
}
