html,
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

nav {
  z-index: 2;
}
.main {
  flex-grow: 1;
  background-image: url("/public/image/01.jpg");
  z-index: 1;
}

.mySwiper {
  position: absolute;
}
.mySwiper .swiper-slide img {
  opacity: 0.7;
  width: 100%;
}

.Account-Box {
  margin: 0 auto;
  border: solid 1px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 600px;
}
.Account-Box .Title {
  color: white;
}
.Account-Box label {
  color: white;
}
.Account-Box .Input-Section {
  width: 80%;
}
.Account-Box .Input-Section .form-group {
  margin: 0;
}
.Account-Box .Input-Section .form-group .Account-Text {
  padding: 0px 0px 0px 10px;
  width: 100%;
  border: 0;
  border: solid 3px rgba(0, 0, 0, 0.1);
}
.Account-Box .Input-Section .form-group .Input-group {
  position: relative;
}
.Account-Box .Input-Section .form-group .Input-group input {
  height: 2.5rem;
  outline-color: #1e90ff;
}
.Account-Box .Input-Section .form-group .Input-group .bi {
  margin-top: 2px;
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.Account-Box .Help-Section {
  margin-bottom: 1rem;
}
.Account-Box .Submit-Section {
  width: 80%;
  margin-bottom: 2rem;
}
