$navbar_color: #1c1c1c;
$navbar_font_color: white;
$navbar_font_color_hover: #1e90ff;
$light_blue: #59d3eb;
$xs_max: 576px;
$sm_max: 767px;
$md_max: 992px;
$lg_max: 1200px;
$xl_max: 1400px;

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// * {
//     //border: black solid 1px;
//     font-family: "Open Sans", "Noto Sans TC", serif;
// }
// html,
// body {
//     @include size(100%, 100%);
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
// }

html,
body {
    display: flex;
    height: 100%;
    flex-direction: column;
    // background: #1c1c1c !important;
}
#main {
    flex: 1;
}

.Account-Box {
    margin: 0 auto;
    margin-top: 10rem;
    border: solid 1px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 60%;
    max-width: 800px;
    // justify-content: center;
    .Input-Section {
        width: 60%;
        .form-group {
            .Account-Text {
                width: 100%;
                border: none;
                border-bottom: solid 3px rgba(0, 0, 0, 0.1);
            }
            .Input-group {
                position: relative;
                .bi {
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
    .Submit-Section {
        width: 60%;
    }
}
