$navbar_color: #1c1c1c;
$navbar_font_color: white;
$navbar_font_color_hover: #1e90ff;
$light_blue: #59d3eb;
$xs_max: 576px;
$sm_max: 767px;
$md_max: 992px;
$lg_max: 1200px;
$xl_max: 1400px;

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    //border: black solid 1px;
    font-family: "Open Sans", "Noto Sans TC", serif;
}
html,
body {
    @include size(100%, 100%);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
nav {
    background: $navbar_color;
    // height: 200px;
    align-content: stretch;
    width: 100%;
    // min-width: 350px;
    .logo {
        font-size: 50px;
        cursor: pointer;
        margin: 0;
        min-width: 150px;
        color: $navbar_font_color;
        &:hover {
            color: $navbar_font_color_hover;
        }
    }
    .account {
        .bi,
        .bi-person {
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
    }
    a {
        font-size: 25px;
        font-weight: 700;
    }
    @media screen and (max-width: 250px) {
        justify-content: center !important;
        .navbar-toggler {
            width: 80%;
            margin-bottom: 5px;
        }
    }
}

.navbar-toggler {
    margin-right: 5px;
    border-color: rgba(255, 255, 255, 0.2) !important;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.navbar-nav {
    li {
        min-width: 130px;
        padding: 5px;
        ul {
            width: 100%;
        }
        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0px;
            color: $navbar_font_color;
            &:hover {
                color: $navbar_font_color_hover;
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 5px;
            }
            @media (max-width: $sm_max) {
                // justify-content: flex-start;
                ul.dropdown-menu {
                    transition: 1s;
                }
            }
        }
        a.dropdown-item {
            margin: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        @media screen and (max-width: $sm_max) {
            width: 100%;
            // padding-left: 30px;
        }
        @media screen and (min-width: $xs_max) {
            &:hover {
                ul.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

.main {
    flex-grow: 1;
    width: 100%;
    position: relative;
    // display: flex;
    min-height: 800px;
    // overflow: hidden;
    // .container {
    //     position: relative;
    //     top: 100px;
    // }
}

.footer {
    position: relative;
    flex-grow: 2;
    background: $navbar_color;
    border-top: black 1px;
}

.swiper {
    height: 60vw;
    width: 100%;
    max-height: 800px;
    max-width: 1400px;
    .swiper-wrapper {
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#container {
    margin: 30px auto;
    // border: solid 10px $light_blue;
    @media (min-width: $sm_max) {
        width: 750px;
    }
    @media (min-width: $md_max) {
        width: 92%;
    }
    @media (min-width: $lg_max) {
        width: 1180px;
    }
    h1 {
        font-weight: bold;
    }
}

.Response-Box {
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    h1 {
        margin: 5px;
    }
    .Responses {
        padding: 10px;
    }
    .Response-Card {
        background-color: #f5f5f5;
        margin: 5px;
        // border: solid 1px;
        border: 1px rgba(0, 0, 0, 0.1) solid;
        // border-radius: 1em;
        padding: 10px;
        .Message-Detail {
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            margin-bottom: 5px;
            .article {
                flex-grow: 1;
            }
            .author {
                margin-right: 10px;
            }
            @media (max-width: $xl_max) {
                flex-direction: column;
            }
        }
        .Message {
            white-space: pre-wrap;
        }
    }
    .Leave-Comment {
        width: 100%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        // justify-content: stretch;
        .author,
        .gist,
        .content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 5px;
            span {
                margin-right: 5px;
            }
            input {
                flex-grow: 1;
                // max-width: 100px;
                min-width: 50px !important;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            span {
                align-self: flex-start;
            }
            textarea {
                align-self: stretch;
            }
        }
        input {
            font-size: 20px;
        }
    }
    ul {
        list-style: none;
    }
    button {
        margin: 0 15px 5px 15px;
    }
    nav {
        background-color: white;
        margin: 0;
        // border-radius: 1rem;
    }
    .pagination {
        align-items: center;
        justify-content: center;
        margin: 5px;
        // background: ;
        .page-item {
            .page-link {
                line-height: 37.5px;
                font-size: 25px;
                font-weight: 700;
                height: 50px;
            }
        }
    }
}

.CheckUser-Box {
    border: solid 5px #1e90ff;
    border-radius: 1rem;
    padding: 10px;
    overflow: auto;
    form {
        display: flex;
        min-width: 350px;
        height: 40px;
    }
    table {
        // border: 1px rgba($color: #000000, $alpha: 0.3) solid;
        tr {
            text-align: center;
        }
        th {
            font-size: 18px;
            // min-width: 100px;
            word-break: keep-all;
        }
        td {
            font-size: 18px;
            line-height: 36px;
            word-break: keep-all;
            a {
                // min-width: 100px;
                text-decoration: none;
            }
        }
        @media screen and (max-width: $md_max) {
            thead {
                display: none;
            }
            tbody,
            tr,
            td {
                text-align: right !important;
                display: block;
                min-height: 3rem;
                &:before {
                    content: attr(data-label);
                    position: absolute;
                    left: 0;
                    width: 50%;
                    text-align: left;
                    padding-left: 15px;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            td {
                min-width: 350px;
            }
            tr {
                position: relative;
                margin-bottom: 10px;
            }
        }
    }
}

.content-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
}

.Vacancies-Input-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
    font-size: 1.1rem;
    h1 {
        font-weight: bold;
    }
    .form-group {
        padding: 5px;
    }
    textarea {
        overflow: auto;
        max-height: 300px;
    }
    .Vacancies-Submit {
        margin: 5px;
    }
    .skill-Tag {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.Announcement-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
    font-size: 1.1rem;
    overflow: auto;
    h1 {
        text-align: center;
        font-weight: bold;
    }
    table {
        border: 1px rgba($color: #000000, $alpha: 0.3) solid;
        width: 100%;
        // min-width: 500px;
        overflow: auto;
        thead,
        tbody {
            text-align: center;
        }
        th:first-child,
        td:first-child {
            text-align: left;
        }
        th,
        td {
            min-width: 90px;
        }
        td:first-child {
            min-width: 200px;
        }
    }
    .btn-primary {
        width: 100%;
        min-width: 565px;
    }
}

.Statistics-Box {
    border: solid 5px #1e90ff;
    padding: 10px;
    border-radius: 1rem;
    font-size: 1.1rem;
    overflow: auto;
    select {
        font-size: 1.1rem;
    }
    .chart {
        max-height: 40rem;
        min-height: 35rem;
        width: 100%;
        canvas {
            min-height: 20rem;
        }
    }
    .col-sm-2 {
        @media screen and (max-width: 210px) {
            flex: 1;
        }
    }
    .chart {
        .chart-Switch {
            border: solid 1px rgba(0, 0, 0, 0.1);
            margin: 0 10px;
            // padding: 0 5px;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            display: flex;
            // justify-content: center;
            // background-color: #ddd;
            .Switch-Btn {
                width: 10rem;
                text-align: center;
                cursor: pointer;
                margin-right: 5px;
                border-radius: 0;
                font-weight: bold;
                background-color: white; //#1e90ff
                vertical-align: middle;
                border: 1px solid;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                // transition: ease-in-out 0.15s;
                transition: 0.1s ease;
                &:hover {
                    filter: brightness(90%);
                }
            }
            .active {
                color: #304ffe;
                border-bottom: 5px solid #304ffe;
                transition: 0.1s ease;
            }
        }
        .TagCountChart,
        .SuccessPairChart {
            min-width: 500px;
        }
    }
}
