$navbar_color: #1c1c1c;
$navbar_font_color: white;
$navbar_font_color_hover: #1e90ff;
$light_blue: #59d3eb;
$xs_max: 576px;
$sm_max: 767px;
$md_max: 992px;
$lg_max: 1200px;
$xl_max: 1400px;

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// * {
//     //border: black solid 1px;
//     font-family: "Open Sans", "Noto Sans TC", serif;
// }
// html,
// body {
//     @include size(100%, 100%);
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
// }

html,
body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    // background-color: #0093e9;
    // background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    // background: rgba(141, 35, 190, 0.1) !important;
}

nav {
    z-index: 2;
    .navbar-brand {
        // color: #1e90ff !important;
        margin-right: 30px;
    }
    .navbar-nav {
        width: 100%;
        .nav-item {
            .dropdown-menu {
                .dropdown-item {
                    text-align: center !important;
                }
            }
        }

        .navbar-li {
            // border: solid 1px rgba(0, 0, 0, 0.1);
            // border-radius: 0.5rem;
            margin-left: 2px;
            a {
                font-size: 1.1rem;
                width: 100%;
                text-decoration: none;
            }
            margin-bottom: 5px;
        }
        @media (max-width: 992px) {
            li:first-child {
                margin-top: 5px;
            }
        }
    }
}

.main {
    flex-grow: 1;
    z-index: 1;
    // background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    // background: linear-gradient(
    //         to bottom,
    //         rgba(255, 255, 255, 0.15) 0%,
    //         rgba(0, 0, 0, 0.15) 100%
    //     ),
    //     radial-gradient(
    //             at top center,
    //             rgba(255, 255, 255, 0.4) 0%,
    //             rgba(0, 0, 0, 0.4) 120%
    //         )
    //         #989898;
    // background-blend-mode: multiply, multiply;
    // background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    // background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    // background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.mySwiper {
    position: absolute;
    max-width: 100%;
    height: 100vh;
    .swiper-slide {
        img {
            opacity: 0.9;
            // width: 100%;
            height: 100%;
            width: 100%;
            // height: 0;
            // padding-bottom: 100%;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
    }
}

.Account-Box {
    margin: 0 auto;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;

    min-height: 25rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.3);
    background-color: white;

    .Title {
        margin: 1.5rem;
    }

    .Input-Section {
        width: 80%;
        .form-group {
            margin: 0;
            .Account-Text {
                padding: 0px 0px 0px 10px;
                width: 100%;
                border: 0;
                border: solid 3px rgba(0, 0, 0, 0.1);
            }
            .Input-group {
                position: relative;
                input {
                    height: 2.5rem;
                    // outline: none;
                    outline-color: #1e90ff;
                    &:focus {
                        // border-block-color: black;
                    }
                }
                .bi {
                    margin-top: 2px;
                    font-size: 1.2rem;
                    position: absolute;
                    right: 10px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .Help-Section {
        margin-bottom: 1rem;
    }
    .Submit-Section {
        width: 80%;
        margin-bottom: 2rem;
        .Submit-Button {
            // background-color: #1e90ff;
        }
    }
}

.Box {
    background-color: white;
    padding: 1rem;
    border: solid 5px #1e90ff;
    border-radius: 0.5rem;
    h1 {
        text-align: center;
    }
}
.Daywork-Box {
    label {
        margin: 0;
    }
}
.CheckDayworkProject-Box {
    table {
        th {
            word-break: keep-all;
        }
    }
}

.HistoryProject-Box,
.CheckEmp-Box {
    text-align: center;
    th {
        word-break: keep-all;
    }
    td {
        vertical-align: middle !important;
    }
    @media (max-width: $md_max) {
        th {
            display: none;
        }
        tr {
            td {
                position: relative;
                display: block;
                text-align: right;
                &::before {
                    content: attr(th);
                    position: absolute;
                    left: 10px;
                }
            }
        }
    }
}
.DataTable-Box,
.Project-Box {
    // margin: 0 auto !important;
    // margin-top: 50px;
    background-color: white;
    padding: 1rem;
    border: solid 5px #1e90ff;
    border-radius: 0.5rem;
    #Project {
        width: 100% !important;
    }
    .dataTables_scroll {
        min-width: 300px;
        // border: 1px rgba($color: #000000, $alpha: 0.3) solid;
    }
    table {
        width: 100%;
        // border: 1px rgba($color: #000000, $alpha: 0.3) solid;
        thead {
            width: 100% !important;
            // th{
            // text-align: center !important;
            // }
        }
        td {
            // display: inline-flex;
            vertical-align: middle;
        }
        form {
            margin: 0;
        }
        li {
            display: flex;
            align-items: center;
        }
        span {
            white-space: pre-wrap;
            // max-width: 1080px;
            // height: 80px;
        }
        .btn {
            width: 75px;
        }
        ul {
            width: 100%;
        }
    }
}

.dataTables_wrapper {
    .col-sm-12 {
        margin-bottom: 5px;
    }
    .dataTables_length,
    .dataTables_paginate,
    .dataTables_info {
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .dataTables_filter {
        label {
            display: flex;
            justify-content: end;
            align-items: center;
            input[type="search"] {
                flex-grow: 1;
                min-width: 20px;
                max-width: 200px;
            }
            @media screen and (max-width: 768px) {
                justify-content: center;
            }
        }
    }
    @media (max-width: 400px) {
        overflow: auto;
    }
}
.dtr-title {
    flex-basis: 120px;
    min-width: 120px;
    word-break: keep-all;
    text-align: left;
    &::after {
        content: "：";
    }
}
.dtr-data {
    // flex: 1;
    text-align: left;
}
